Source: r-cran-islr
Maintainer: Rogério Theodoro de Brito <rbrito@ime.usp.br>
Section: gnu-r
Priority: optional
Build-Depends: debhelper (>= 10),
               dh-r,
Standards-Version: 4.1.1
Vcs-Browser: https://github.com/rbrito/pkg-r-cran-islr
Vcs-Git: https://github.com/rbrito/pkg-r-cran-islr
Homepage: https://CRAN.R-project.org/package=ISLR

Package: r-cran-islr
Architecture: all
Depends: ${misc:Depends},
         ${R:Depends}
Recommends: ${R:Recommends}
Suggests: ${R:Suggests}
Description: data for 'An Introduction to Statistical Learning with Applications in R'
 This GNU R package provides the collection of data-sets used in the book 'An
 Introduction to Statistical Learning with Applications in R'.
